@model List<Categoria>

<h1>Lista de Categorias</h1>

@foreach (var item in Model)
{
    <h2>@item.Nombre @item.Productos.Count</h2>

    <ul>
        @foreach (var objeto in @item.Productos)
        {
            <li>@objeto.Nombre</li>
        }
    </ul>
}