@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center my-3">
        <img src="~/images/hero.png" alt="">
    </div>

    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <h1>Dropbox ads ad sad sad</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore fugit quibusdam voluptas, optio
                    similique nam veritatis? Harum at facere tenetur fugiat. Facere ratione quos impedit omnis
                    laudantium, hic soluta cumque!</p>
            </div>
            <div class="col-6">
                <img src="~/images/forma.png" alt="">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-6">
                <img src="~/images/lugar.png" alt="">
            </div>
            <div class="col-6">
                <h1>DAd sad sadsa sa sa</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas placeat vero officiis molestiae.
                    Blanditiis minima ab molestias dolore rem suscipit, voluptate maiores deleniti quis illum possimus
                    obcaecati. Aliquid, tempore impedit!</p>
            </div>
        </div>
    </div>
