@model PokeDex.Models.Pokemon

<h1>Registro Pokemon</h1>

<form method="post" asp-action="registro">
    <div>
        Nombre: <input asp-for="Nombre"/>
    </div>
    <div>
        Foto: <input asp-for="Foto"/>
    </div>
    
</form>